__pycache__/
*.pyc

output/*.yaml
output/*.yml

nac_src/*.o

nac_src/consumer
nac_src/producer
nac_src/kdk-server

*.log
test/*.log
sample.txt
valid_sample.txt

.DS_Store
.vscode/
.idea/
*.swp

*.key
*.p12

